@page "/products";

<h1 class="text-success">All Products</h1>

<div class="row p-2">
	@foreach (var item in ProductList)
	{
		
		<div class="col-5 border">
			<h3 class="text-primary">@item.Name</h3>
			<div>Id: @item.ProductId</div>
			Show properties: <input type="checkbox"  checked="@(item.IsActive? "checked" : null)" @bind-value="item.IsActive" @bind-value:event="oninput"/>
			@if (item.IsActive)
			{
				@foreach (var prop in item.ProductProperties)
				{
					<p>@prop.Key & @prop.Value</p>
				}
			}
			<button class=" btn btn-danger p-2" style="width:80px; " >Delete</button> 
			<button class=" btn btn-success p-2" style="width:80px; " >Edit</button>
	</div>
	}
</div>

@code {

	
		Webshop_Models.Product product = new()
		{
			ProductId = 1,
			Name = "RTX3090",
			IsActive = true,
			Price = 29.99,
			ProductProperties = new List<Webshop_Models.ProductProp>()
		{
			new ProductProp { Id=1, Key="Color",Value="Red" },
			new ProductProp { Id=2, Key="Flavour", Value="Salty"},
			new ProductProp { Id=3, Key="Size", Value = "M"}
		}
		};

	List<Product> ProductList = new();

	protected override void OnInitialized()
	{
		ProductList.Add(product);
		ProductList.Add(new()
			{
				ProductId = 2,
				Name = "RTX3080",
				IsActive = false,
				Price = 12.99,
				ProductProperties = new List<Webshop_Models.ProductProp>()
		{
			new ProductProp { Id=1, Key="Color",Value="Red" },
			new ProductProp { Id=2, Key="Flavour", Value="Salty"},
			new ProductProp { Id=3, Key="Size", Value = "M"}
		}
			});

		ProductList.Add(new()
			{
				ProductId = 3,
				Name = "RTX3070",
				IsActive = true,
				Price = 29.99,
				ProductProperties = new List<Webshop_Models.ProductProp>()
		{
			new ProductProp { Id=1, Key="Color",Value="Red" },
			new ProductProp { Id=2, Key="Flavour", Value="Salty"},
			new ProductProp { Id=3, Key="Size", Value = "M"}
		}
			});

	}

}
